html, body, p {
    margin: 0;
    padding: 0;
}


.font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bold-txt {
    font-weight: bold;
}

.font-size-head {
    font-size: 32px;
}

.color-head {
    color:#00ECBB;
}

.backgroud-purple {
    background-color: #6A13EB;
}

.color-txt {
    color: white;
}

.color-gray {
    color: #433A5E;
}

.block1 {
    width: 980px;
    margin: auto;
}

h2 {
    color: black;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-around;
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.exp {
    list-style: none;
    margin: 0;
    padding: 0;
}

.achievements {
    list-style-image: url(icon-ok.png);
}

.points {
    list-style-image: url(icon-ok-2.png);
}

.background-img {
    background-image: url(credo-bg.png);
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
}